body {
	font-family: 'Kanit';
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(
	35deg,
	hsl(266deg 63% 12%) 0%,
	hsl(266deg 63% 12%) 12%,
	hsl(266deg 70% 16%) 22%,
	hsl(267deg 77% 20%) 31%,
	hsl(269deg 87% 24%) 40%,
	hsl(271deg 100% 26%) 47%,
	hsl(279deg 97% 31%) 55%,
	hsl(279deg 97% 31%) 62%,
	hsl(279deg 97% 31%) 70%,
	hsl(279deg 97% 31%) 79%,
	hsl(279deg 97% 31%) 100%
	);
}
  
.none-flex {
  flex-wrap: nowrap !important;
}
  .bg-dark {
    box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%) !important;
    background-color:#754b9905 !important;
    backdrop-filter: blur( 16.5px ) !important;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #594270;
    border: 0px none transparent;
    border-radius: 50px;
    transition: all .25s linear;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #524267;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #754b99;
  }
  
  ::-webkit-scrollbar-corner {
    background: #000000;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  
  .navbar-brand {
    font-size: 25px !important;
    font-weight: 600;
  }
  
  .navbar-brand img {
    width: 10%;
  
  }
  
  .container {
    max-width: 100% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .top-box-internal {
    padding: 5%;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  
  .login {
    width: 50%;
  }
  
  @media only screen and (min-width: 600px) {
  
    .desktop {
        display: block;
        max-width: 100%;
    } 
  
    .mobile {
        display: none;
    } 




  }
  
  @media only screen and (max-width: 600px) {
    
    .desktop {
        display: none;
    } 
    .mobile {
        display: block;
        height: 100vh;
    } 

    .login {
      width: 100%;
    }
  }
  
  .mobile a {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 10%;
    background: #623f80;
    border-radius: 10px;
  }
  
  .nav-link-custon {
    padding: 4%;
    width: 100%;
  } 

  .nav-link-custon li {
    width: 100%;
  } 

  .nav-link-custon button {
    width: 100%;
    margin: 0% !important;
    margin-top: 3% !important;
  }
  
  .top-box {
    background: #00000099;
    box-shadow: 0 8px 32px 0 rgba(38, 38, 43, 0.37);
    margin-bottom: 5%;
    padding-right: 0% !important;
    padding-left: 0% !important;
    color: #fff;
    border-radius: 2%;
    font-family: 'Kanit';
  }
  
  
  .main-box {
    background: #00000099;
    box-shadow: 0 8px 32px 0 rgba(38, 38, 43, 0.37);
    margin-bottom: 3%;
    text-align: justify;
    color: #fff;
    font-family: 'Kanit';
  }
  
  .button-topbox {
    font-size: 20px;
    font-weight: 500;
    border: #6e6e6e 2px solid;
  }
  
  .button-topbox:hover {
    color: #fff;
    background: #623f80 ;
    border: #623f80 2px solid;
  }
  
  .version_block:hover {
    cursor: pointer;
  }
  
  .version_block .version_text {
    color: rgb(199, 199, 199);
  }
  
  .version_block .version_text:hover {
    color: rgb(228, 227, 227);
  }
  
  
  .wiki-box {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 32px 0 rgba(38, 38, 43, 0.37);
    margin-bottom: 5%;
    border-radius: 5px;
    padding-right: 0% !important;
    padding-left: 0% !important;
    margin-left: 0% !important;
    color: #fff;
    font-family: 'Kanit';
  }
  
  .nav-buttons {
    border-right: 3px solid #927aac;
  }
  
  .nav-pills button{
    color: rgb(177, 175, 175);
    font-size: 16px !important;
    text-align: left !important;
    border-radius: 0% !important;
    transition: 0.3s;
  }
  
  .nav-pills button:hover{
    color: #927aac;
  }
  
  .nav-pills .active {
    background-color: #927aac!important;
  }
  
  .footer {
    max-width: 100%;
    background: #00000099;
    padding: 2%;
  }
  
  .footer p {
    color: #fff;
    margin: 0%;
  }
  
  .footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #e3f0fa;
    color: #3f1367;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    background: #3f1367;
    color: #fff;
    text-decoration: none;
  }
  
  .footer .row {
    padding-right: 0% !important;
    padding-left: 0% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  
  
  .modal-background {
    background: rgb(0, 0, 0) !important;
    color: #fff !important;
  }
  
  .modal-background-header {
    background: #000000 !important;
    border-bottom: none !important;
  }
  
  .modal-border {
    border: solid 1px #878787;
  }
  
  .accept-button {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff !important;
    margin-top: 10%;
    background: #623f80 !important;
    border-radius: 10px;
  } 
  
  .denny-button {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff !important;
    margin-top: 10%;
    border: #623f80 solid 3px !important;
    border-radius: 10px;
  } 
  
  .accept-button:hover {
    background: #3f1367 !important;
  }
  
  .denny-button:hover {
    background: #623f80 !important;
  }
  
  .carousel-item img {
    width: 50%;
  }
  
  .carousel-caption {
    box-shadow: 1px 1px 39px 12px rgba(0,0,0,0.75);
    background-color: #00000072;
  }
  
.total-downloads {
	font-size: 30px;
}
  
.resourses-list li{
	font-size: 16px !important;
}


.login-form input{
    background-color: #000 !important;
    color: #fff !important;
    border-color: #5f0181;
}


input:active,
input:focus,
button:active,
button:focus {
  border-color: #6f0296 !important;
  outline: none !important;
  box-shadow: inset 0 2px 2px rgba(148, 0, 194, 0.729), 0 0 8px rgba(118, 0, 154, 0.781) !important;
}

.wikilist ul {
  margin-top: 1rem;
}

.wikilist li {
  margin-top: 1rem;
}